<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">  <span>
  <a routerLink="/todos">MyTodos</a>
</span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New todos</a>
    </li>
    <li>
      <a mat-button routerLink="/login" *ngIf="!_authService.loggedIn()" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <button mat-button *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>

